/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,*::before,*::after{
    box-sizing: border-box;
}





.wrap{
    max-width: 1088px;
    margin: 0 auto;
}
@media (max-width:576px){
    .wrap{
        max-width: 366px;
        margin: 0 auto;
    }
}

.index{
    background-image: url("https://raw.githubusercontent.com/xiouyuwen/chatTalkerhtmlcssUpdate/447c249143329cf084f7142a22be679d626393d1/chatTalker_images/bg_home.svg"),url("https://raw.githubusercontent.com/xiouyuwen/chatTalkerhtmlcssUpdate/447c249143329cf084f7142a22be679d626393d1/chatTalker_images/ball01.svg");
    background-repeat: no-repeat,no-repeat;
    background-position: right top,top 520px left -200px;
}
@media (max-width:576px){
    .index{
        background-image: none;
    }
    .index{
        background-image: url("https://raw.githubusercontent.com/xiouyuwen/chatTalkerhtmlcssUpdate/b4a3ff7eb45a9ea50f9897a0eea1c2eeafe9cf64/chatTalker_images/bg_home_sm.svg");
        background-repeat: no-repeat;
        background-size: 400px;
        background-position: 75px 395px;
    }
}



.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    height: 40px;
    margin-top: 24px;
}
.navbutton a{
    background: #FF5D50;
    font-size: 16px;
    color: white;
    text-decoration: none;
    padding: 8px 32px;
    border-radius: 50px;
}
.frontpage{
    display: flex;  
}
@media (max-width:576px){
    .frontpage{
        flex-direction: column;
        margin-top: -100px;
    }
}

.frontp{
    color: #56C4C5;
    font-size: 18px;
    font-weight: bold;
    margin: 188px 0 8px 0;
}
@media (max-width:576px){
    .frontp{
        font-size: 16px;    
    }
}
.fronttitle{
    color: #221E1F;
    font-size: 48px;
    line-height: 1.5;
    font-weight: bold;
    word-break: keep-all;
    margin-bottom: 16px;
}
@media (max-width:576px){
    .fronttitle{
        color: #221E1F;
        font-size: 32px;
        line-height: 1.5;
        font-weight: bold;
        word-break: keep-all;    
    }
}

.frontspan{
    color: #221E1F;
    font-size: 20px;
    opacity: 1;
}
@media (max-width:576px){
    .frontspan{
        font-size: 16px;    
    }
}
.beginningimg img{
    width: 532px;
    margin: 30px 0 117px 0;
    
}
@media (max-width:576px){
    .beginningimg img{
        width: 330px;       
    }
}

.content h2{
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin-top: 70px;
}

.platformbox{
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    margin-top: 48px;
    text-align: center;
}
@media (max-width:576px){
    .platformbox{
        flex-wrap: wrap;
        margin-bottom: 24px;
    }
}

.platform{
    width: 244px;
}
@media (max-width:576px){
    .platform{
        margin-bottom: 24px;
    }
}

.platform img{
    width: 90px;
    margin-bottom: 24px;
}
.platform p{
    font-size: 24px;
    color: #221E1F;
    font-weight: bold;
    margin-bottom: 24px;
    white-space: nowrap;
}
.platform span{
    font-size: 16px;
    color: #747474;
    line-height: 1.5;
}
h3{
    font-size: 32px;
    color: #221E1F;
    text-align: center;
    font-weight: bold;
    margin: 100px 0 16px 0;
}
.service-page p{
    font-size: 20px;
    color: #221E1F;
    text-align: center;
}
@media (max-width:576px){
    .service-page p{
        line-height: 1.5;
    }
}

.servicebox{
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
    text-align: center;
    
}
@media (max-width:576px){
    .servicebox{
        flex-wrap: wrap;
        margin-bottom: 60px;
        flex-direction: column;
        align-items: center;
    }
}

.service{
    width: 260px;
    border-radius: 12px;
    box-shadow: 0px 2px 10px #00000014;
}
@media (max-width:576px){
    .service{
        margin-bottom: 24px;
    }
}

.service img{
    border-radius: 12px 12px 0px 0px;
}
.service p{
    color: #56C4C5;
    font-size: 16px;
    margin: 16px 0;
}
.p2{
    font-size: 16px;
    color: #221E1F;
    line-height: 1.5;
    margin-bottom: 24px;
}
.customer{
    display: flex;
    align-items: center;
    text-align: left;
}
@media (max-width:576px){
    .customer{
        flex-direction: column-reverse;
    }
}

.pointbox{ 
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
}
@media (max-width:576px){
    .pointbox{
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
}

.point{
    width: 230px;
    box-shadow: 0px 2px 10px #00000014;
    border-radius: 12px;
    margin: 0 47px 28px 0;
}
@media (max-width:576px){
    .point{
        flex-wrap: wrap;
    }
}

.point img{
    width: 52px;
    margin-top: 49px;
    margin-left: 32px;
}
.point p{
    font-size: 18px;
    color: #221E1F;
    font-weight: bold;
    margin: 41px 0 16px 32px;
}
.p3{
    font-size: 16px;
    color: #221E1F;
    margin-bottom: 48px;
    line-height: 1.5;
    margin-left: 32px;
}
.pointword{
    
}
@media (max-width:576px){
    .pointword{
        text-align: center;
    }
}

.h4{
    font-size: 32px;
    color: #221E1F;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 16px;
}
@media (max-width:576px){
    .pointword{
        font-size: 28px;
    }
}

.pointword4{
    font-size: 18px;
    color: #221E1F;
    margin-bottom: 34px;
    line-height: 1.5;
}
@media (max-width:576px){
    .pointword4{
        font-size: 16px;
    }
}
.pointword a{
    font-size: 18px;
    color: white;
    background: #56C4C5;
    padding: 12px 32px;
    border-radius: 50px;
    text-decoration: none;
}
h5{
    font-size: 32px;
    color: #221E1F;
    font-weight: bold;
    margin-top: 100px;
    text-align: center;
}

.feebackbox{
    display: flex;
    justify-content: space-between;
    margin-top: 104px;
}
@media (max-width:576px){
    .feebackbox{
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        
    }
}

.people{
    width: 352px;
    box-shadow: 0px 2px 10px #00000014;
    border-radius: 12px;
    position: relative;
}
@media (max-width:576px){
    .people{
        margin-bottom:80px;
    }
}

.photo{
    width: 80px;  
    border-radius: 50px;
    position: absolute;
    left: 32px;
    top: -55px;
}
.feeling{
    font-size: 16px;
    color: #221E1F;
    margin: 48px 32px 0 32px;
    line-height: 1.5;
    border-bottom: 1px solid #DDDDDD;
    padding-bottom: 24px;
}
.comname{
    font-size: 16px;
    font-weight: bold;
    margin: 24px 0 8px 32px;
}
.name{
    display: flex;
}
.p4{
    font-size: 16px;
    color: #221E1F;
    margin: 0 0 24px 32px;
}
.star{
    margin-left: 84px;
}
.starimg{
    width:17px;
}
.footer-start{
    background-image: url("https://raw.githubusercontent.com/xiouyuwen/chatTalkerhtmlcssUpdate/447c249143329cf084f7142a22be679d626393d1/chatTalker_images/home_footer.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 100px;
}
h6{
    color: #221E1F;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    padding: 260px 0 48px 0;
}
.startbutton{
    text-align: center;
    margin-bottom: 100px;
}
.startbutton a{
    background: #56C4C5;
    font-size: 18px;
    color: white;
    text-decoration: none;
    padding: 12px 32px;
    border-radius: 50px;
    
}
.footer{
    background: #F5F5F5;
    width: 100%;
}
.footer p{
    text-align: center;
    color:#221E1F;
    font-size: 16px;
    padding: 16px 0;
}
