/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



.wrap{
    margin: 0 auto;
    max-width: 1044px;
}



  
.start{
    background-image: url("https://raw.githubusercontent.com/xiouyuwen/chatTalkerhtmlcssUpdate/2d89b768d3c8dfa537ef2a88403772f9be729105/chatTalker_images/home_footer.svg");
    

}
.start h2{
    color: #221E1F;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    
}
.start-button{
    background: #56C4C5;
    
    font-size: 18px;
    text-align: center;
    
}
.start-button a{
    text-decoration: none;
    color: white;

}
.footer{
    background: #F5F5F5;
}
.footer p{
    text-align: center;
    color:#221E1F;
    font-size: 16px;
    padding: 16px 0;
}